<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set blue background color behind main content and under header */
    .content {
      padding-top: 20px;
      padding-left: 10px;
      background-color: lightblue;
    }
    
    /* Set padding for rows of content */
    .padding {
      padding-left: 20px;
      padding-right: 20px;
    }
    
    /* Set table border color */
    table.table-bordered{
    border:1px solid black;
    margin-top:20px;
    }
    table.table-bordered > tbody > tr > th{
        border:1px solid black;
    }
    table.table-bordered > tbody > tr > td{
        border:1px solid black;
    }
    table.table-bordered > thead > tr > th{
        border:1px solid black;
    }
  </style>
</head>

<body>
  <div class="container content">
    <div class="jumbotron text-center">
      <h1>Fascinating Mars</h1>
      <p>News. Images. Facts. Hemispheres.</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Updated Data!</a></p>
    </div>
  
    
    <div class="row padding">
      <div class="col-md-8">  
        <h2><b>The Latest Mars News:</b></h2>
        <p>Title: {{ mars.title }}</b></p>
        <p>Summary: {{ mars.summary }}</p></br>
      </div>

    <div class="row padding">
      <div class="col-md-8">
          <h2><b> Today's Featured Mars Image:</b></h2>
          <a href="{{ mars.featured_image_url }}"><img src="{{ mars.featured_image_url }}" alt="Image of Mars" style="width:600px;height:500px;"></a>
      </div>
    
      <div class="col-md-4">
            <h2><b>Mars Facts:</b></h2>
            {{mars.mars_facts | safe}}
      </div>   
    </div>    
        
    
    <!-- First hemisphere -->
    <div class="row padding">
      <div class="col-md-12">
        <h2><b>The Hemispheres:</b></h2>
      </div>
    </div>

    <div class="row padding"></div>
      <div class="col-md-6">
        <div class="thumbnail">
          <a href="https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg">
            <img src="https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg" alt="hemisphere1" style="width:350px;height:350px;">
            <div class="caption text-center">
              <p>{{mars.hemi1}}</p>
            </div>
          </a>
        </div>
      </div>
    

    <!-- Second hemisphere -->
      <div class="col-md-6">
        <div class="thumbnail">
          <a href="https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg">
            <img src="https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg" alt="hemisphere2" style="width:350px;height:350px;">
            <div class="caption text-center">
              <p>{{mars.hemi2}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- Third hemisphere -->
    <div class="row padding">
      <div class="col-md-6">
        <div class="thumbnail">
          <a href="https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg">
            <img src="https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg" alt="hemisphere3" style="width:350px;height:350px;">
            <div class="caption text-center">
              <p>{{mars.hemi3}}</p>
            </div>
          </a>
        </div>
      </div>
    

    <!-- Fourth hemisphere -->
      <div class="col-md-6">
        <div class="thumbnail">
          <a href="https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg">
            <img src="https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg" alt="hemisphere4" style="width:350px;height:350px;">
            <div class="caption text-center">
              <p>{{mars.hemi4}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>  
</body>
</html>