<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Fascinating Mars</h1>
      <p>News. Images. Weather. Facts. Hemispheres.</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Updated Data!</a></p>
    </div>
  </div>
    
    <h2>The Latest Mars News:</h2>
    <p><b>{{ mars.title }}</b></p>
    <p>{{ mars.p }}</p></br>

    <div class="row">
        <div class="col-md-8">
            <h3>Today's Featured Mars Image</h3>
            <img src="{{ mars.featured_img_url }}" alt="Image of Mars">
        </div>

        <div class="col-md-4">
            <span class="border border-dark">
                <h3>Current Weather On Mars:</h3>
                <p>{{ mars.tweet_div }}</p>
            </span>

            <h3>Mars Facts</h3>
            <table>{{ mars.table }}</table>  

        </div>
    </div>
  
  </div>
</body>

</html>